# this contains local config data
.env
env.sh

# all sorts of generated junk
node_modules
.idea
public/bower_components
public/css
/public/build
*.iml
.DS_Store
npm-debug.log
/logs/
/out/
/docs/
/gruntfile.js
/gruntfile.js.map

