<html>
<header>
    <link href="/css/css.css" rel="stylesheet"/>
</header>
<body>
<h1> Welcome to passport-tut </h1>

<a onclick="return msgMe();" href="javascript:void(0);">send message</a>

<a href="/">public pages</a>
<a href="/logout">log out</a>
<script src="/js/socket.io-client/socket.io.js"></script>
<script>
    var jwt_token = "<%= jwt_token %>";
    var authInterval = <%= auth_interval%>;
    var socket = io.connect('http://localhost:5011');
    socket.on('connect', function () {
        console.log('connect');
        socket.on('authenticated', function () {
            console.log('authenticated');
            //do other things
        }).emit('authenticate', {token: jwt_token}); //send the jwt
    });


    socket.on('unauthenticated', function () {
        console.log('unauthenticated');
        //do other things
    });

    socket.on('error', function () {
        console.log('error');
        //do other things
    });

    socket.on('unauthorized', function () {
        console.log('unauthorized');
        //do other things
    });

    socket.on('authorized', function () {
        console.log('authorized');
        //do other things
    });

    socket.on('something:else', function () {
        console.log('something:else');
        //do other things
    });

    socket.on('redirect', function (data) {
        console.log('redirect');
        document.location.href = data.url;
    });

    var msgMe = function () {
        socket.emit('something', {token: jwt_token});
        console.log('sent "something". check out server logs');
    };

    setInterval(function(){
        console.log('checking auth');
        socket.emit('auth-check', {token: jwt_token});
    }, 5000);
</script>
</body>
</html>
