<html>
<header>
    <link href="/css/css.css" rel="stylesheet"/>
</header>
<body>


<h1> Welcome to passport-tut </h1>

<% if(authed){ %>
<a href="/private">go to my account page</a>
<% } else { %>
<a href="/login">log in</a>
<% } %>

<% if(timeout){ %>
    <h3>session timed out </h3>
<% } %>

</body>
</html>
<html>
