<header>
</header>
<body>


<h1> Welcome to passport-tut </h1>

<% if(authed){ %>
<a href="/private">go to my account page</a>
<% } else { %>
<a href="/login">log in</a>
<% } %>

</body>
</html>
<html>
