body{
    font-family:sans-serif;
}

.msg-sent, .msg-rcvd{
    color:transparent;
}

.ping{
    color:red;
    transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-out;
}

.connected::before{
    content: 'connected';
}

.disconnected::before{
    content: 'DISconnected';
}

.startup::before{
    content: 'startup';
}

.status{
    position:fixed;
    top:0;
    right:0;
}
